<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Register</title>
</head>
<body>
    <div class="register-form">
		<h1>Formulario de registro</h1>
      <h2>introduce cada dato en su espacio correspondiente.</h2>
		<form action="/register" method="POST">
            <label for="user">User</label>
                <input type="text" name="user" required tabindex="1" autofocus>            
            <label for="user">Full Name</label>
                <input type="text" name="name" required tabindex="2">
            
                                  
            
             <br> 
            <label for="pass">Password</label>
			    <input type="password" name="pass" required tabindex="4">
            <div style="display: inline;">             
            <a href="/" class="btn-cancel">Atras</a><input type="submit" class="btn-save" value="guardar">           
            </div>
		</form>		
	</div>

    		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if (typeof alert != "undefined")  { %>
 <script>
 Swal.fire({
   title:'<%= alertTitle %>',
   text:'<%= alertMessage %>',
   icon:'<%= alertIcon %>',
   showConfirmButton: <%= showConfirmButton %>,
   timer: <%= timer %>
 }).then(()=>{
   window.location='/<%= ruta %>'
 })
 </script>
<% } %>
 </div>
</body>
</html>